# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/

# Virtual environment
.venv/
env/
venv/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Logs
*.log
